/* Background */
.bg {
  background-color: rgb(17, 40, 54);
}

/* Headings */
.heading {
  color: #ffffff;
  font-size: 2.5rem;
}

/* Subheadings */
.sub-heading {
  color: rgb(202, 214, 222);
  font-size: 1.5rem;
}

/* Buttons */
.btn {
  background-color: #ff7f50; /* Accent color */
  color: #ffffff;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all;
}

.btn:hover {
  background-color: #ffa07a; /* Lighter shade for hover */
}

/* content section  */

.content-section {
  background-color: rgb(202, 214, 222);
}
